body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-image: url('../images/header_bg.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
}

header,
main,
footer {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: url('../images/main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    color: rgb(30, 29, 31);
    text-align: center;
    padding: 60px 20px;
}

.header-logo {
    width: 1024px;
    height: 1024px;
    object-fit: contain;
    position: absolute;
    top: 10px;
    left: 20px;
}

header {
    position: relative;
}

h1 {
    margin: 0;
    font-size: 3em;
}

p {
    font-size: 2em;
}

h2 {
    margin: 0;
    font-size: 3em;
    color: white;
}

li {
    font-size: 1.5em;
}

.email-link {
    color: #fdfbfb;
    text-decoration: underline;
}

main {
    padding: 40px 20px;
    color: #0f0f0f;
}

footer {
    background-image: url('../images/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 20px;
}

a.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: 2px solid #1f2ce4;
    margin: 40px 0;
}